/**
  * Palette
  *
  * @author jh3y - https://github.com/jh3y
*/
[data-whirl='palette']:before {
  animation: whirl-palette 2s infinite linear;
  border-radius: 100%;
}
@-moz-keyframes whirl-palette {
  0% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #9a12b3,6.18033988px 19.021130319999997px 0 0 #fafafa,-16.180339880000002px 11.755705039999999px 0 0 #9a12b3,-16.180339880000002px -11.755705039999999px 0 0 #fafafa,6.18033988px -19.021130319999997px 0 0 #fafafa;
  }
  20% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #fafafa,6.18033988px 19.021130319999997px 0 0 #9a12b3,-16.180339880000002px 11.755705039999999px 0 0 #fafafa,-16.180339880000002px -11.755705039999999px 0 0 #fafafa,6.18033988px -19.021130319999997px 0 0 #9a12b3;
  }
  40% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #9a12b3,6.18033988px 19.021130319999997px 0 0 #fafafa,-16.180339880000002px 11.755705039999999px 0 0 #fafafa,-16.180339880000002px -11.755705039999999px 0 0 #9a12b3,6.18033988px -19.021130319999997px 0 0 #fafafa;
  }
  60% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #fafafa,6.18033988px 19.021130319999997px 0 0 #fafafa,-16.180339880000002px 11.755705039999999px 0 0 #9a12b3,-16.180339880000002px -11.755705039999999px 0 0 #fafafa,6.18033988px -19.021130319999997px 0 0 #9a12b3;
  }
  80% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #fafafa,6.18033988px 19.021130319999997px 0 0 #9a12b3,-16.180339880000002px 11.755705039999999px 0 0 #fafafa,-16.180339880000002px -11.755705039999999px 0 0 #9a12b3,6.18033988px -19.021130319999997px 0 0 #fafafa;
  }
  100% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #9a12b3,6.18033988px 19.021130319999997px 0 0 #fafafa,-16.180339880000002px 11.755705039999999px 0 0 #9a12b3,-16.180339880000002px -11.755705039999999px 0 0 #fafafa,6.18033988px -19.021130319999997px 0 0 #fafafa;
    transform: rotate(360deg);
  }
}
@-webkit-keyframes whirl-palette {
  0% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #9a12b3,6.18033988px 19.021130319999997px 0 0 #fafafa,-16.180339880000002px 11.755705039999999px 0 0 #9a12b3,-16.180339880000002px -11.755705039999999px 0 0 #fafafa,6.18033988px -19.021130319999997px 0 0 #fafafa;
  }
  20% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #fafafa,6.18033988px 19.021130319999997px 0 0 #9a12b3,-16.180339880000002px 11.755705039999999px 0 0 #fafafa,-16.180339880000002px -11.755705039999999px 0 0 #fafafa,6.18033988px -19.021130319999997px 0 0 #9a12b3;
  }
  40% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #9a12b3,6.18033988px 19.021130319999997px 0 0 #fafafa,-16.180339880000002px 11.755705039999999px 0 0 #fafafa,-16.180339880000002px -11.755705039999999px 0 0 #9a12b3,6.18033988px -19.021130319999997px 0 0 #fafafa;
  }
  60% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #fafafa,6.18033988px 19.021130319999997px 0 0 #fafafa,-16.180339880000002px 11.755705039999999px 0 0 #9a12b3,-16.180339880000002px -11.755705039999999px 0 0 #fafafa,6.18033988px -19.021130319999997px 0 0 #9a12b3;
  }
  80% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #fafafa,6.18033988px 19.021130319999997px 0 0 #9a12b3,-16.180339880000002px 11.755705039999999px 0 0 #fafafa,-16.180339880000002px -11.755705039999999px 0 0 #9a12b3,6.18033988px -19.021130319999997px 0 0 #fafafa;
  }
  100% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #9a12b3,6.18033988px 19.021130319999997px 0 0 #fafafa,-16.180339880000002px 11.755705039999999px 0 0 #9a12b3,-16.180339880000002px -11.755705039999999px 0 0 #fafafa,6.18033988px -19.021130319999997px 0 0 #fafafa;
    transform: rotate(360deg);
  }
}
@-o-keyframes whirl-palette {
  0% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #9a12b3,6.18033988px 19.021130319999997px 0 0 #fafafa,-16.180339880000002px 11.755705039999999px 0 0 #9a12b3,-16.180339880000002px -11.755705039999999px 0 0 #fafafa,6.18033988px -19.021130319999997px 0 0 #fafafa;
  }
  20% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #fafafa,6.18033988px 19.021130319999997px 0 0 #9a12b3,-16.180339880000002px 11.755705039999999px 0 0 #fafafa,-16.180339880000002px -11.755705039999999px 0 0 #fafafa,6.18033988px -19.021130319999997px 0 0 #9a12b3;
  }
  40% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #9a12b3,6.18033988px 19.021130319999997px 0 0 #fafafa,-16.180339880000002px 11.755705039999999px 0 0 #fafafa,-16.180339880000002px -11.755705039999999px 0 0 #9a12b3,6.18033988px -19.021130319999997px 0 0 #fafafa;
  }
  60% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #fafafa,6.18033988px 19.021130319999997px 0 0 #fafafa,-16.180339880000002px 11.755705039999999px 0 0 #9a12b3,-16.180339880000002px -11.755705039999999px 0 0 #fafafa,6.18033988px -19.021130319999997px 0 0 #9a12b3;
  }
  80% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #fafafa,6.18033988px 19.021130319999997px 0 0 #9a12b3,-16.180339880000002px 11.755705039999999px 0 0 #fafafa,-16.180339880000002px -11.755705039999999px 0 0 #9a12b3,6.18033988px -19.021130319999997px 0 0 #fafafa;
  }
  100% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #9a12b3,6.18033988px 19.021130319999997px 0 0 #fafafa,-16.180339880000002px 11.755705039999999px 0 0 #9a12b3,-16.180339880000002px -11.755705039999999px 0 0 #fafafa,6.18033988px -19.021130319999997px 0 0 #fafafa;
    transform: rotate(360deg);
  }
}
@keyframes whirl-palette {
  0% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #9a12b3,6.18033988px 19.021130319999997px 0 0 #fafafa,-16.180339880000002px 11.755705039999999px 0 0 #9a12b3,-16.180339880000002px -11.755705039999999px 0 0 #fafafa,6.18033988px -19.021130319999997px 0 0 #fafafa;
  }
  20% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #fafafa,6.18033988px 19.021130319999997px 0 0 #9a12b3,-16.180339880000002px 11.755705039999999px 0 0 #fafafa,-16.180339880000002px -11.755705039999999px 0 0 #fafafa,6.18033988px -19.021130319999997px 0 0 #9a12b3;
  }
  40% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #9a12b3,6.18033988px 19.021130319999997px 0 0 #fafafa,-16.180339880000002px 11.755705039999999px 0 0 #fafafa,-16.180339880000002px -11.755705039999999px 0 0 #9a12b3,6.18033988px -19.021130319999997px 0 0 #fafafa;
  }
  60% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #fafafa,6.18033988px 19.021130319999997px 0 0 #fafafa,-16.180339880000002px 11.755705039999999px 0 0 #9a12b3,-16.180339880000002px -11.755705039999999px 0 0 #fafafa,6.18033988px -19.021130319999997px 0 0 #9a12b3;
  }
  80% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #fafafa,6.18033988px 19.021130319999997px 0 0 #9a12b3,-16.180339880000002px 11.755705039999999px 0 0 #fafafa,-16.180339880000002px -11.755705039999999px 0 0 #9a12b3,6.18033988px -19.021130319999997px 0 0 #fafafa;
  }
  100% {
    color: #fafafa;
    box-shadow: 20px 0px 0 0 #9a12b3,6.18033988px 19.021130319999997px 0 0 #fafafa,-16.180339880000002px 11.755705039999999px 0 0 #9a12b3,-16.180339880000002px -11.755705039999999px 0 0 #fafafa,6.18033988px -19.021130319999997px 0 0 #fafafa;
    transform: rotate(360deg);
  }
}
