/**
  * Ring of dots
  *
  * @author jh3y - https://github.com/jh3y
*/
[data-whirl='ring-of-dots']:before {
  animation: whirl-ring-of-dots 1s infinite linear reverse;
  border-radius: 10px;
}
@-moz-keyframes whirl-ring-of-dots {
  0% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #e89ef5,-4.45041868px -19.498558239999998px 0 0 #d140ec,12.46979604px -15.636629639999999px 0 0 #9a12b3;
  }
  14.285714285714286% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #e89ef5,-18.01937736px -8.67767478px 0 0 #d140ec,-4.45041868px -19.498558239999998px 0 0 #9a12b3,12.46979604px -15.636629639999999px 0 0 #fefcff;
  }
  28.571428571428573% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #e89ef5,-18.01937736px 8.67767478px 0 0 #d140ec,-18.01937736px -8.67767478px 0 0 #9a12b3,-4.45041868px -19.498558239999998px 0 0 #fefcff,12.46979604px -15.636629639999999px 0 0 #fefcff;
  }
  42.85714285714286% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #e89ef5,-4.45041868px 19.498558239999998px 0 0 #d140ec,-18.01937736px 8.67767478px 0 0 #9a12b3,-18.01937736px -8.67767478px 0 0 #fefcff,-4.45041868px -19.498558239999998px 0 0 #fefcff,12.46979604px -15.636629639999999px 0 0 #fefcff;
  }
  57.142857142857146% {
    box-shadow: 20px 0px 0 0 #e89ef5,12.46979604px 15.636629639999999px 0 0 #d140ec,-4.45041868px 19.498558239999998px 0 0 #9a12b3,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #fefcff,-4.45041868px -19.498558239999998px 0 0 #fefcff,12.46979604px -15.636629639999999px 0 0 #fefcff;
  }
  71.42857142857143% {
    box-shadow: 20px 0px 0 0 #d140ec,12.46979604px 15.636629639999999px 0 0 #9a12b3,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #fefcff,-4.45041868px -19.498558239999998px 0 0 #fefcff,12.46979604px -15.636629639999999px 0 0 #e89ef5;
  }
  85.71428571428572% {
    box-shadow: 20px 0px 0 0 #9a12b3,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #fefcff,-4.45041868px -19.498558239999998px 0 0 #e89ef5,12.46979604px -15.636629639999999px 0 0 #d140ec;
  }
  100% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #e89ef5,-4.45041868px -19.498558239999998px 0 0 #d140ec,12.46979604px -15.636629639999999px 0 0 #9a12b3;
  }
}
@-webkit-keyframes whirl-ring-of-dots {
  0% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #e89ef5,-4.45041868px -19.498558239999998px 0 0 #d140ec,12.46979604px -15.636629639999999px 0 0 #9a12b3;
  }
  14.285714285714286% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #e89ef5,-18.01937736px -8.67767478px 0 0 #d140ec,-4.45041868px -19.498558239999998px 0 0 #9a12b3,12.46979604px -15.636629639999999px 0 0 #fefcff;
  }
  28.571428571428573% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #e89ef5,-18.01937736px 8.67767478px 0 0 #d140ec,-18.01937736px -8.67767478px 0 0 #9a12b3,-4.45041868px -19.498558239999998px 0 0 #fefcff,12.46979604px -15.636629639999999px 0 0 #fefcff;
  }
  42.85714285714286% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #e89ef5,-4.45041868px 19.498558239999998px 0 0 #d140ec,-18.01937736px 8.67767478px 0 0 #9a12b3,-18.01937736px -8.67767478px 0 0 #fefcff,-4.45041868px -19.498558239999998px 0 0 #fefcff,12.46979604px -15.636629639999999px 0 0 #fefcff;
  }
  57.142857142857146% {
    box-shadow: 20px 0px 0 0 #e89ef5,12.46979604px 15.636629639999999px 0 0 #d140ec,-4.45041868px 19.498558239999998px 0 0 #9a12b3,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #fefcff,-4.45041868px -19.498558239999998px 0 0 #fefcff,12.46979604px -15.636629639999999px 0 0 #fefcff;
  }
  71.42857142857143% {
    box-shadow: 20px 0px 0 0 #d140ec,12.46979604px 15.636629639999999px 0 0 #9a12b3,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #fefcff,-4.45041868px -19.498558239999998px 0 0 #fefcff,12.46979604px -15.636629639999999px 0 0 #e89ef5;
  }
  85.71428571428572% {
    box-shadow: 20px 0px 0 0 #9a12b3,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #fefcff,-4.45041868px -19.498558239999998px 0 0 #e89ef5,12.46979604px -15.636629639999999px 0 0 #d140ec;
  }
  100% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #e89ef5,-4.45041868px -19.498558239999998px 0 0 #d140ec,12.46979604px -15.636629639999999px 0 0 #9a12b3;
  }
}
@-o-keyframes whirl-ring-of-dots {
  0% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #e89ef5,-4.45041868px -19.498558239999998px 0 0 #d140ec,12.46979604px -15.636629639999999px 0 0 #9a12b3;
  }
  14.285714285714286% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #e89ef5,-18.01937736px -8.67767478px 0 0 #d140ec,-4.45041868px -19.498558239999998px 0 0 #9a12b3,12.46979604px -15.636629639999999px 0 0 #fefcff;
  }
  28.571428571428573% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #e89ef5,-18.01937736px 8.67767478px 0 0 #d140ec,-18.01937736px -8.67767478px 0 0 #9a12b3,-4.45041868px -19.498558239999998px 0 0 #fefcff,12.46979604px -15.636629639999999px 0 0 #fefcff;
  }
  42.85714285714286% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #e89ef5,-4.45041868px 19.498558239999998px 0 0 #d140ec,-18.01937736px 8.67767478px 0 0 #9a12b3,-18.01937736px -8.67767478px 0 0 #fefcff,-4.45041868px -19.498558239999998px 0 0 #fefcff,12.46979604px -15.636629639999999px 0 0 #fefcff;
  }
  57.142857142857146% {
    box-shadow: 20px 0px 0 0 #e89ef5,12.46979604px 15.636629639999999px 0 0 #d140ec,-4.45041868px 19.498558239999998px 0 0 #9a12b3,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #fefcff,-4.45041868px -19.498558239999998px 0 0 #fefcff,12.46979604px -15.636629639999999px 0 0 #fefcff;
  }
  71.42857142857143% {
    box-shadow: 20px 0px 0 0 #d140ec,12.46979604px 15.636629639999999px 0 0 #9a12b3,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #fefcff,-4.45041868px -19.498558239999998px 0 0 #fefcff,12.46979604px -15.636629639999999px 0 0 #e89ef5;
  }
  85.71428571428572% {
    box-shadow: 20px 0px 0 0 #9a12b3,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #fefcff,-4.45041868px -19.498558239999998px 0 0 #e89ef5,12.46979604px -15.636629639999999px 0 0 #d140ec;
  }
  100% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #e89ef5,-4.45041868px -19.498558239999998px 0 0 #d140ec,12.46979604px -15.636629639999999px 0 0 #9a12b3;
  }
}
@keyframes whirl-ring-of-dots {
  0% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #e89ef5,-4.45041868px -19.498558239999998px 0 0 #d140ec,12.46979604px -15.636629639999999px 0 0 #9a12b3;
  }
  14.285714285714286% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #e89ef5,-18.01937736px -8.67767478px 0 0 #d140ec,-4.45041868px -19.498558239999998px 0 0 #9a12b3,12.46979604px -15.636629639999999px 0 0 #fefcff;
  }
  28.571428571428573% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #e89ef5,-18.01937736px 8.67767478px 0 0 #d140ec,-18.01937736px -8.67767478px 0 0 #9a12b3,-4.45041868px -19.498558239999998px 0 0 #fefcff,12.46979604px -15.636629639999999px 0 0 #fefcff;
  }
  42.85714285714286% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #e89ef5,-4.45041868px 19.498558239999998px 0 0 #d140ec,-18.01937736px 8.67767478px 0 0 #9a12b3,-18.01937736px -8.67767478px 0 0 #fefcff,-4.45041868px -19.498558239999998px 0 0 #fefcff,12.46979604px -15.636629639999999px 0 0 #fefcff;
  }
  57.142857142857146% {
    box-shadow: 20px 0px 0 0 #e89ef5,12.46979604px 15.636629639999999px 0 0 #d140ec,-4.45041868px 19.498558239999998px 0 0 #9a12b3,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #fefcff,-4.45041868px -19.498558239999998px 0 0 #fefcff,12.46979604px -15.636629639999999px 0 0 #fefcff;
  }
  71.42857142857143% {
    box-shadow: 20px 0px 0 0 #d140ec,12.46979604px 15.636629639999999px 0 0 #9a12b3,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #fefcff,-4.45041868px -19.498558239999998px 0 0 #fefcff,12.46979604px -15.636629639999999px 0 0 #e89ef5;
  }
  85.71428571428572% {
    box-shadow: 20px 0px 0 0 #9a12b3,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #fefcff,-4.45041868px -19.498558239999998px 0 0 #e89ef5,12.46979604px -15.636629639999999px 0 0 #d140ec;
  }
  100% {
    box-shadow: 20px 0px 0 0 #fefcff,12.46979604px 15.636629639999999px 0 0 #fefcff,-4.45041868px 19.498558239999998px 0 0 #fefcff,-18.01937736px 8.67767478px 0 0 #fefcff,-18.01937736px -8.67767478px 0 0 #e89ef5,-4.45041868px -19.498558239999998px 0 0 #d140ec,12.46979604px -15.636629639999999px 0 0 #9a12b3;
  }
}
