@-moz-keyframes whirl-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes whirl-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes whirl-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes whirl-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**
  * Split
  *
  * @author jh3y - https://github.com/jh3y
*/
[data-whirl='split']:after {
  animation: whirl-rotate 1s infinite linear;
  border: 10px solid #fafafa;
  border-left-color: transparent;
  border-radius: 100%;
  border-right-color: transparent;
}
[data-whirl='split']:before {
  background: #fafafa;
  border-radius: 100%;
}
