/**
  * Square of dots
  *
  * @author jh3y - https://github.com/jh3y
*/
[data-whirl='square-of-dots']:before {
  animation: whirl-square 1s infinite linear;
  border-radius: 100%;
  box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  content: '';
  height: 10px;
  left: 50%;
  margin-left: -47.5px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 10px;
}
@-moz-keyframes whirl-square {
  0% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  10% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  20% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  30% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  40% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 -10px #fff;
  }
  50% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  60% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  70% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  80% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  90% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 0 #fff;
  }
  100% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
}
@-webkit-keyframes whirl-square {
  0% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  10% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  20% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  30% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  40% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 -10px #fff;
  }
  50% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  60% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  70% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  80% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  90% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 0 #fff;
  }
  100% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
}
@-o-keyframes whirl-square {
  0% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  10% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  20% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  30% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  40% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 -10px #fff;
  }
  50% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  60% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  70% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  80% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  90% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 0 #fff;
  }
  100% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
}
@keyframes whirl-square {
  0% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  10% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  20% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  30% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
  40% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 -10px #fff;
  }
  50% {
    box-shadow: 15px 0 0 0 #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  60% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 0 #fff, 30px -15px 0 0 #fff, 30px 0 0 0 #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  70% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 0 #fff, 45px -15px 0 0 #fff, 45px 0 0 0 #fff, 45px 15px 0 0 #fff, 45px 30px 0 0 #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  80% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 0 #fff, 60px 0 0 0 #fff, 60px -15px 0 0 #fff, 75px 0 0 0 #fff;
  }
  90% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 0 #fff;
  }
  100% {
    box-shadow: 15px 0 0 -10px #fff, 30px 15px 0 -10px #fff, 30px -15px 0 -10px #fff, 30px 0 0 -10px #fff, 45px -30px 0 -10px #fff, 45px -15px 0 -10px #fff, 45px 0 0 -10px #fff, 45px 15px 0 -10px #fff, 45px 30px 0 -10px #fff, 60px 15px 0 -10px #fff, 60px 0 0 -10px #fff, 60px -15px 0 -10px #fff, 75px 0 0 -10px #fff;
  }
}
