header
  .container
    .row
      .col-md-10.col-md-offset-1
        h1.text-center whirl
        h5.text-center.
          Pure CSS loading animations with minimal effort!
        h6.text-center.
          NO extra elements necessary
