header
  .container
    .row
      .col-md-10.col-md-offset-1
        h2.text-center (cs)spinner
        h5.text-center.
          pure CSS loading animations with minimal effort!
        h6.text-center.
          no extra elements needed
