doctype
//[if lt IE 7]> <html class="no-js ie lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]
//[if IE 7]> <html class="no-js ie lt-ie9 lt-ie8" lang="en"> <![endif]
//[if IE 8]> <html class="no-js ie lt-ie9" lang="en"> <![endif]
//[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title whirl | previously known as (cs)spinner
  meta(rel="author", content="https://plus.google.com/117254872800566192455")
  meta(name="description", content="Whirl; Pure CSS loading animations made easy!")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0")
  link(href="css/vendor.min.css", rel="stylesheet")
  link(href="css/style.min.css", rel="stylesheet")
  script(src="js/vendor.min.js")
body
  include header
  .page-content
    block content
    include footer
