.menu-container
  nav.nav.menu#menu.text-center
    ul.sm-nav
      li
        a.nav-link.menu-link.hidden-md.hidden-lg.link-btn
          i.fa.fa-bars
    ul.md-nav
      li
        a.nav-link.link-btn(href = "#about")
          |about
      li
        a.nav-link.link-btn(href = "#thoughts")
          |thoughts
      li.hidden-sm.hidden-xs
        a.nav-link.link-btn(href = "#header")
          |J
          i.fa.fa-terminal
      li
        a.nav-link.link-btn(href = "#projects")
          |projects
      li
        a.nav-link.link-btn(href = "#contact")
          |contact
    script.
      $('.nav-link, .md-nav').on('click', function (event) {
        $('nav').toggleClass('open');
      })
      $('.md-nav .nav-link, .entry-icon').on('click', function (event) {
        var hash = this.hash;
        event.preventDefault();
        $('html, body').stop(true, true).animate({
          scrollTop: $(hash).offset().top
        }, 500);
      });
      $(window).on('scroll', function () {
        var height = $('header').outerHeight();
        $('nav.open').removeClass('open');
        if ($(window).scrollTop() > height) {
          $('body, #menu').addClass('fixed');
        } else {
          $('body, #menu').removeClass('fixed');
        }
      });
