@import '../common/animation/rotate.styl'

/**
  * Arc
  *
  * @author jh3y - https://github.com/jh3y
*/

$thickness = 6px

[data-whirl='arc']
  &:before
    $create-pseudo()
    animation whirl-rotate .5s infinite linear
    border-radius 100%
    border-top $thickness solid $whirl-primary
