@import '../common/animation/rotate.styl'

/**
  * Bar spin
  *
  * @author jh3y - https://github.com/jh3y
*/

$height = $whirl-default-size
$width  = 10px

[data-whirl='bar-spin']
  &:before
    $create-pseudo($height, $width)
    animation         whirl-rotate .5s infinite
    background        $whirl-primary
