/**
  * Basic ringed whirl
*/
@keyframes whirl-rotate
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)

[data-whirl='bar']
  &:before
    box-sizing        border-box
    content           ''
    height            10px
    width             50px
    position          absolute
    top               50%
    left              50%
    margin-left       -25px
    margin-top        -5px
    animation         whirl-rotate .5s infinite linear
    background        purple
