@import '../common/animation/rotate.styl'
@import '../vars.styl'

/**
  * Basic
  *
  * @author jh3y - https://github.com/jh3y
*/

$thickness = $whirl-default-border-width

[data-whirl='basic']
  &:before
    $create-pseudo()
    animation         whirl-rotate .5s infinite linear
    border            $thickness $whirl-primary solid
    border-left-color $whirl-secondary
    border-radius     100%
