@import '../common/animation/scale.styl'
@import '../vars.styl'

/**
  * Bloom
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 40px
$ring-size = 6px

[data-whirl='bloom']

  &:before
    $create-pseudo($size, $size)
    background-color $whirl-primary
    border-radius 100%

  &:after
    $create-pseudo($size * 1.5px, $size * 1.5px)
    animation whirl-scale 1s infinite
    border $ring-size solid $whirl-bg
    border-radius 100%
