@import '../vars.styl'
/**
  * Breakout
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 50px
$thickness = 10px

@keyframes whirl-breakout
  0%
  40%
    border-width ($size / 2px)
  80%
    border-color $whirl-primary
    border-width $thickness
    opacity 1
    transform scale(1)
  100%
    border-color $whirl-secondary
    opacity 0
    transform scale(1.75)

[data-whirl='breakout']

  &:after
    animation whirl-breakout 2s infinite

  &:after
  &:before
    $create-pseudo($size, $size)
    border $thickness solid $whirl-primary
    border-radius 100%
