@import '../common/animation/rotate.styl'
@import '../vars.styl'

/**
  * Color bridge
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 50px
$thickness = 6px

[data-whirl='color-bridge']
  clip rect(0px, $size, $size / 2px, 0)
  height $size
  left 50%
  overflow hidden
  position absolute
  top 50%
  transform translate(-50%, -25%)
  width $size

  &:before
    $create-pseudo()
    animation whirl-rotate 1.25s infinite linear
    border $thickness solid $whirl-primary
    border-left-color $whirl-secondary
    border-radius 100%
    border-right-color $whirl-secondary
