@keyframes whirl-rotate
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)

[data-whirl='color-wheel']
  &:before
    $create-pseudo(40px, 40px)
    border-radius 100%
    border 20px solid green
    border-top-color red
    border-right-color orange
    border-bottom-color yellow
    animation whirl-rotate .5s infinite linear
