@import '../common/animation/rotate.styl'
@import '../vars.styl'
/**
  * Color arc
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 50px
$depth = 10px

[data-whirl='color-arc']
  clip rect(0px, $size / 2px, $size / 2px, 0)
  height $size
  left 50%
  overflow hidden
  position absolute
  top 50%
  transform translate(-25%, -25%)
  width $size

  &:before
    $create-pseudo()
    animation whirl-rotate 1s infinite linear
    border $depth solid $whirl-primary
    border-left-color $whirl-secondary
    border-radius 100%
    border-right-color $whirl-secondary
