@import '../common/animation/grow.styl'
@import '../vars.styl'
/**
  * Cyclical
  *
  * @author jh3y - https://github.com/jh3y
*/

$size-one = 30px
$size-two = 20px

[data-whirl='cyclical']
  animation whirl-rotate 2s infinite ease-out
  bottom 0
  left 0
  position absolute
  right 0
  top 0

  &:after
    $create-pseudo($size-one, $size-one)
    animation-delay .5s
    transform-origin 20% 80%

  &:after
  &:before
    animation whirl-grow 1s infinite ease-out
    background $whirl-primary
    border-radius 100%

  &:before
    $create-pseudo($size-two, $size-two)
    transform-origin -20% -80%
