@keyframes whirl-dots-flow
  0%
    box-shadow -25px 30px 0px 0 white,
        0px 30px 0 0 white,
        25px 30px 0 0 white
  25%
    box-shadow -25px 30px 0 5px purple,
        0px 30px 0 0 white,
        25px 30px 0 0 white
  50%
    box-shadow -25px 30px 0 0 white,
        0px 30px 0 5px purple,
        25px 30px 0 0 white
  75%
    box-shadow -25px 30px 0px 0 white,
        0px 30px 0 0 white,
        25px 30px 0 5px purple

[data-whirl='dots-flow']
  &:before
    height  15px
    width   15px
    margin-top -37.5px
    margin-left -7.5px
    background-color transparent
    transition box-shadow .25s ease 0s
    box-shadow -25px 30px 0px 0 white,
      0px 30px 0 0 white,
      25px 30px 0 0 white
    content ''
    display block
    border-radius 100%
    position absolute
    top 50%
    left 50%
    animation whirl-dots-flow .85s infinite ease
