@import '../vars.styl'
/**
  * Dots fade
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 20px
$margin = 5px
$travel = $size + $margin

@keyframes whirl-dots-fade
  0%
    background $whirl-primary
    opacity 0
    transform translateX(-($travel))
  10%
    opacity 1
    transform translateX(-($travel))
  20%
    background $whirl-primary
    opacity 0
    transform translateX(-($travel))
  30%
    opacity 0
    transform translateX(0)
  40%
    opacity 1
    transform translateX(0)
  50%
    background $whirl-secondary
    opacity 0
    transform translateX(0)
  60%
    background-color $whirl-primary
    opacity 0
    transform translateX($travel)
  70%
    opacity 1
    transform translateX($travel)
  80%
  100%
    opacity 0
    transform translateX($travel)

[data-whirl='dots-fade']
  &:before
    $create-pseudo($size, $size)
    animation whirl-dots-fade 3s infinite
    background-color $whirl-primary
    border-radius 100%
