@import '../common/animation/rotate.styl'
@import '../vars.styl'
/**
  * Dots
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 10px
$radius = 30px

[data-whirl='dots']
  &:before
    $create-pseudo($size, $size)
    animation whirl-rotate 1s infinite
    border-radius 100%
    box-shadow $radius 0 0 $size $whirl-secondary,
      -($radius) 0 0 $size $whirl-primary
