@import '../common/animation/rotate.styl'

/**
  * Double ringed
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 16px
$ring-size = 50px
$ring-thickness = 6px
$radius = ($ring-size / 2) - ($ring-thickness / 2)


[data-whirl='double-ringed']

  &:after
    $create-pseudo($size, $size)
    animation whirl-rotate 1s infinite linear
    border-radius 100%
    box-shadow $radius 0 0 0 $whirl-secondary, -($radius) 0 0 0 $whirl-secondary

  &:before
    $create-pseudo($ring-size, $ring-size)
    border $ring-thickness solid $whirl-primary
    border-radius 100%
