@import '../common/animation/rotate.styl'

/**
  * Double up
  *
  * @author jh3y - https://github.com/jh3y
*/
$size = 50px
$thickness = 10px
$color = $whirl-primary

[data-whirl='double-up']
  &:before
    $create-pseudo($size, $size)
    animation         whirl-rotate .5s infinite linear
    border            $thickness $color double
    border-left-style solid
    border-radius     100%
