@import '../common/animation/rotate.styl'
@import '../vars.styl'
/**
  * Duo
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 50px
$thickness = 6px
$color-one = $whirl-primary
$color-two = $whirl-secondary

[data-whirl='duo']
  &:before
    $create-pseudo($size, $size)
    animation whirl-rotate .5s infinite linear
    border $thickness solid $color-one
    border-left-color $color-two
    border-radius 100%
    border-right-color $color-two
