@import '../vars.styl'
/**
  * Eight
  *
  * @author jh3y - https://github.com/jh3y
*/


@keyframes whirl-eight
  0%
    transform rotate(0deg)
    transform-origin left bottom
  50%
    transform-origin left bottom
    transform rotate(360deg)
  51%
    transform-origin right top
  100%
    transform-origin right top
    transform rotate(0deg)

$color = $whirl-primary
$size = 30px


[data-whirl='eight']
  &:before
    $create-pseudo($size, $size)
    animation whirl-eight 2s infinite
    background-color $color
