@import '../vars.styl'
/**
  * Fidget
  *
  * @author jh3y - https://github.com/jh3y
*/

@keyframes whirl-fidget
  10%
    transform skewX(60deg)
  20%
    transform skewX(-60deg)
  30%
    transform skewX(0deg)
  40%
    transform skewY(60deg)
  50%
    transform skewY(-60deg)
  60%
    transform skewY(0)

$size = 50px
$color = $whirl-primary

[data-whirl='fidget']
  &:before
    $create-pseudo($size, $size)
    animation whirl-fidget 1s infinite
    background-color $color
    border-radius 100%
