@import '../vars.styl'
/**
  * Flickering pentagon
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 6px
$color = $whirl-primary
$no-of-dots = 5
$radius = 30px

getPosition(angle)
  xPos = $radius * cos(angle * (PI / 180))
  yPos = $radius * sin(angle * (PI / 180))
  (xPos yPos)

genShadow($pos, $color)
  $shadows = ()
  for $dot in (1..$no-of-dots)
    $dot-color = $color
    $angle       = (360 / $no-of-dots) * ($dot - 1)
    $xy          = getPosition($angle)
    if ($dot == $pos)
      $dot-color = transparent
    $shad-props  = $xy 0 0 $dot-color
    push($shadows, join(' ', $shad-props))
  (unquote(join(',', $shadows)))

@keyframes whirl-flickering-pentagon
  for $per in (0..$no-of-dots)
    {($per * (100 / $no-of-dots)) * 1%}
      box-shadow genShadow($per, $color)

[data-whirl='flickering-pentagon']
  &:before
    $create-pseudo($size, $size)
    animation whirl-flickering-pentagon .15s infinite linear
    border-radius 100%
    transform rotate(-15deg)
