@import '../vars.styl'
/**
  * Fly by
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 50px
$color = $whirl-primary
$distance = 100px

@keyframes whirl-fly-by
  0%
    opacity 0
    transform translateX(-($distance)) scale(0)
  50%
    opacity 1
    transform translateX(0) scale(1.25)
  100%
    opacity 0
    transform translateX($distance) scale(0)


[data-whirl='fly-by']
  &:before
    $create-pseudo($size, $size)
    animation whirl-fly-by 1s infinite
    background-color $color
    border-radius 100%
