@keyframes gyro
  0%
    transform scale(1) rotate(0deg) translateY(50px)
  50%
    transform scale(.5) rotate(1440deg) translateY(5px)
  100%
    transform scale(1) rotate(2920deg) translateY(50px)
@keyframes gyro-2
  0%
    transform scale(1) rotate(0deg) translateY(-50px)
  50%
    transform scale(.5) rotate(1440deg) translateY(-5px)
  100%
    transform scale(1) rotate(2920deg) translateY(-50px)
[data-whirl='gyro']
  &:before
    $create-pseudo(20px, 20px)
    border-radius 100%
    background white
    animation gyro 2s infinite linear
  &:after
    $create-pseudo(20px, 20px)
    border-radius 100%
    background purple
    animation gyro-2 2s infinite linear
