@keyframes whirl-hourglass-spin
  0%
    background-position 0 90%
  40%
  50%
    background-position 0 10%
  90%
  100%
    background-position 0 -70%

@keyframes whirl-hourglass-spin-alternate
  0%
    background-position 0 90%
  40%
  50%
    background-position 0 170%
  90%
  100%
    background-position 0 240%



@keyframes whirl-hourglass-container-spin
  0%
  40%
    transform rotate(0deg)
  50%
  90%
    transform rotate(180deg)
  100%
    transform rotate(360deg)

$whirl-hourglass-dur = 4s

[data-whirl='hourglass-spin']
  animation whirl-hourglass-container-spin 4s infinite
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  &:before
    transform translateY(-20px)
    $create-pseudo(40px, 40px)
    border-radius 100%
    border 4px solid white
    background linear-gradient(0deg, purple, purple 50%, transparent 50%, transparent)
    background-size 100% 300%
    animation whirl-hourglass-spin $whirl-hourglass-dur infinite ease-in-out
  &:after
    transform  translateY(20px)
    $create-pseudo(40px, 40px)
    border-radius 100%
    border 4px solid white
    background linear-gradient(0deg, transparent, transparent 50%, purple 50%, purple)
    background-size 100% 300%
    animation whirl-hourglass-spin-alternate $whirl-hourglass-dur infinite ease-in-out
