/**
  * Hourglass spin
  *
  * A little trickier to implement. Requires a little though about
  * animation timings and when things should happen etc.
  *
  * @author jh3y - https://github.com/jh3y
*/

$duration = 4s
$color-one = $whirl-primary
$color-two = $whirl-secondary
$size      = 40px
$glass-thickness = 4px

@keyframes whirl-hourglass-spin
  0%
    background-position 0 90%
  40%
  50%
    background-position 0 10%
  90%
  100%
    background-position 0 -70%

@keyframes whirl-hourglass-spin-alternate
  0%
    background-position 0 90%
  40%
  50%
    background-position 0 170%
  90%
  100%
    background-position 0 240%

@keyframes whirl-hourglass-container-spin
  0%
  40%
    transform rotate(0deg)
  50%
  90%
    transform rotate(180deg)
  100%
    transform rotate(360deg)


[data-whirl='hourglass-spin']
  animation whirl-hourglass-container-spin 4s infinite
  bottom 0
  left 0
  position absolute
  right 0
  top 0

  &:after
  &:before
    $create-pseudo($size, $size)
    border-radius 100%
    border $glass-thickness solid $color-one

  &:after
    animation whirl-hourglass-spin-alternate $duration infinite ease-in-out
    transform  translateY($size / 2)
    background linear-gradient(0deg, transparent, transparent 50%, $color-two 50%, $color-two)
    background-size 100% 300%

  &:before
    animation whirl-hourglass-spin $duration infinite ease-in-out
    transform translateY(-($size / 2))
    background linear-gradient(0deg, $color-two, $color-two 50%, transparent 50%, transparent)
    background-size 100% 300%
