@import '../vars.styl'
@import '../common/animation/rotate.styl'

/**
  * Invert
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 50px
$inner-size = 30px
$inner-width = 6px
$color-one = $whirl-primary
$color-two = $whirl-secondary

[data-whirl='invert']

  &:after
  &:before
    border-radius 100%

  &:after
    $create-pseudo($inner-size ,$inner-size ,,2)
    animation whirl-rotate .75s infinite
    border $inner-width solid $color-one
    border-left-color $color-two
    border-top-color $color-two

  &:before
    $create-pseudo($size, $size)
    border ($size / 2) solid $color-two
    border-bottom-color $color-one
    border-right-color $color-one
