/**
  * Line
  *
  * @author jh3y - https://github.com/jh3y
*/

$height = 20px
$width = 60px
$color = $whirl-primary

@keyframes whirl-line
  from
    background-position -($width) 0
  to
    background-position $width 0

[data-whirl='line']

  &:before
    $create-pseudo($height, $width)
    animation whirl-line 1s infinite alternate ease-in-out
    background linear-gradient(90deg, $color, $color)
    background-position -($height) 0
    background-repeat no-repeat
    background-size $width $height
