@import '../vars.styl'

/**
  * Line of dots
  *
  * @author jh3y - https://github.com/jh3y
*/

$color  = white
$dot-size   = 10px
$dot-margin = 5px
$first = $dot-size + $dot-margin
$second = (2 * $dot-size) + (2 * $dot-margin)
$third = (3 * $dot-size) + (3 * $dot-margin)
$fourth = (4 * $dot-size) + (4 * $dot-margin)
$fifth = (5 * $dot-size) + (5 * $dot-margin)
$hide = -1 * $dot-size

[data-whirl='line-of-dots']
  &:before
    animation whirl-line-of-dots 1s infinite ease
    background-color transparent
    border-radius    100%
    box-shadow $first 0 0 0 $color,
      $second 0 0 0 $color,
      $third 0 0 0 $color,
      $fourth 0 0 0 $color,
      $fifth 0 0 0 $color
    content          ''
    height           $dot-size
    left             50%
    margin-left      -(($fifth / 2) + $dot-size)
    margin-top       -($dot-size / 2)
    position         absolute
    top              50%
    width            $dot-size


@keyframes whirl-line-of-dots
  0%
    box-shadow $first 0 0 $hide $color,
      $second 0 0 $hide $color,
      $third 0 0 $hide $color,
      $fourth 0 0 $hide $color,
      $fifth 0 0 $hide $color
  10%
    box-shadow $first 0 0 0 $color,
      $second 0 0 $hide $color,
      $third 0 0 $hide $color,
      $fourth 0 0 $hide $color,
      $fifth 0 0 $hide $color
  20%
    box-shadow $first 0 0 0 $color,
      $second 0 0 0 $color,
      $third 0 0 $hide $color,
      $fourth 0 0 $hide $color,
      $fifth 0 0 $hide $color
  30%
    box-shadow $first 0 0 0 $color,
      $second 0 0 0 $color,
      $third 0 0 0 $color,
      $fourth 0 0 $hide $color,
      $fifth 0 0 $hide $color
  40%
    box-shadow $first 0 0 0 $color,
      $second 0 0 0 $color,
      $third 0 0 0 $color,
      $fourth 0 0 0 $color,
      $fifth 0 0 $hide $color
  50%
    box-shadow $first 0 0 0 $color,
      $second 0 0 0 $color,
      $third 0 0 0 $color,
      $fourth 0 0 0 $color,
      $fifth 0 0 0 $color
  60%
    box-shadow $first 0 0 $hide $color,
      $second 0 0 0 $color,
      $third 0 0 0 $color,
      $fourth 0 0 0 $color,
      $fifth 0 0 0 $color
  70%
    box-shadow $first 0 0 $hide $color,
      $second 0 0 $hide $color,
      $third 0 0 0 $color,
      $fourth 0 0 0 $color,
      $fifth 0 0 0 $color
  80%
    box-shadow $first 0 0 $hide $color,
      $second 0 0 $hide $color,
      $third 0 0 $hide $color,
      $fourth 0 0 0 $color,
      $fifth 0 0 0 $color
  90%
    box-shadow $first 0 0 $hide $color,
      $second 0 0 $hide $color,
      $third 0 0 $hide $color,
      $fourth 0 0 $hide $color,
      $fifth 0 0 0 $color
  100%
    box-shadow $first 0 0 $hide $color,
      $second 0 0 $hide $color,
      $third 0 0 $hide $color,
      $fourth 0 0 $hide $color,
      $fifth 0 0 $hide $color
