@import '../common/animation/rotate.styl'
@import '../common/animation/grow.styl'
@import '../vars.styl'
/**
  * Merge
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 30px
$color-one = $whirl-primary
$color-two = $whirl-secondary
$duration = 2s

[data-whirl='merge']
  animation whirl-rotate $duration infinite ease-out
  bottom 0
  left 0
  position absolute
  right 0
  top 0

  &:after
  &:before
    $create-pseudo($size, $size)
    animation whirl-grow $duration infinite ease-out
    border-radius 100%
    background $color-one
    opacity .5

  &:after
    transform-origin -200% -80%

  &:before
    background $color-two
    transform-origin 200% 80%
