/**
  * Mexican wave
  *
  * @author jh3y - https://github.com/jh3y
*/

$color  = white
$size   = 10px
$dot-margin = 5px
$first = $size + $dot-margin
$second = (2 * $size) + (2 * $dot-margin)
$third = (3 * $size) + (3 * $dot-margin)
$fourth = (4 * $size) + (4 * $dot-margin)
$fifth = (5 * $size) + (5 * $dot-margin)
$hide = -1 * $size
$bounce = -1 * $first

[data-whirl='mexican-wave']
  &:before
    animation whirl-mexican-wave .75s infinite ease
    border-radius    100%
    box-shadow $first 0 0 0 $color,
      $second 0 0 0 $color,
      $third 0 0 0 $color,
      $fourth 0 0 0 $color,
      $fifth 0 0 0 $color
    content          ''
    height           $size
    left             50%
    margin-left      -(($fifth / 2) + $size)
    margin-top       -($size / 2)
    position         absolute
    top              50%
    width            $size

@keyframes whirl-mexican-wave
  0%
    box-shadow $first 0 0 0 $color,
      $second 0 0 0 $color,
      $third 0 0 0 $color,
      $fourth 0 0 0 $color,
      $fifth 0 0 0 $color
  15%
    box-shadow $first $bounce 0 0 $color,
      $second 0 0 0 $color,
      $third 0 0 0 $color,
      $fourth 0 0 0 $color,
      $fifth 0 0 0 $color
  30%
    box-shadow $first 0 0 0 $color,
      $second $bounce 0 0 $color,
      $third 0 0 0 $color,
      $fourth 0 0 0 $color,
      $fifth 0 0 0 $color
  45%
    box-shadow $first 0 0 0 $color,
      $second 0 0 0 $color,
      $third $bounce 0 0 $color,
      $fourth 0 0 0 $color,
      $fifth 0 0 0 $color
  60%
    box-shadow $first 0 0 0 $color,
      $second 0 0 0 $color,
      $third 0 0 0 $color,
      $fourth $bounce 0 0 $color,
      $fifth 0 0 0 $color
  75%
    box-shadow $first 0 0 0 $color,
      $second 0 0 0 $color,
      $third 0 0 0 $color,
      $fourth 0 0 0 $color,
      $fifth $bounce 0 0 $color
  100%
    box-shadow $first 0 0 0 $color,
      $second 0 0 0 $color,
      $third 0 0 0 $color,
      $fourth 0 0 0 $color,
      $fifth 0 0 0 $color
