@import '../vars.styl'

/**
  * Outline square
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 30px
$color-one = $whirl-primary
$color-two = $whirl-secondary

@keyframes whirl-outline-square
  0%
    background $color-one
    transform translate(-100%, -100%)
  25%
    background $color-two
    transform translate(-100%, 100%)
  50%
    background $color-one
    transform translate(100%, 100%)
  75%
    background $color-two
    transform translate(100%, -100%)
  100%
    background $color-one
    transform translate(-100%, -100%)

[data-whirl='outline-square']

  &:before
    $create-pseudo($size, $size)
    animation whirl-outline-square 1.5s infinite
    border-radius 100%
