/**
  * Palette
  *
  * @author jh3y - https://github.com/jh3y
*/

$scale-radius = 20px
$size         = 12px

$color-one = $whirl-primary
$color-two = $whirl-secondary

$no-of-dots  = 5
$dot-colors  = $color-one $color-two $color-one $color-two $color-one


getPosition(angle)
  xPos = $scale-radius * cos(angle * (PI / 180))
  yPos = $scale-radius * sin(angle * (PI / 180))
  (xPos yPos)

genShadow($pos)
  $shadows = ()
  for $dot in (1..$no-of-dots)
    $angle       = (360 / $no-of-dots) * ($dot - 1)
    $xy          = getPosition($angle)
    $dots        = $no-of-dots
    $true-pos    = $dot + $pos
    $color-idx   = $true-pos % $dots
    $shad-props  = $xy 0 0 $dot-colors[$color-idx]
    push($shadows, join(' ', $shad-props))
  (unquote(join(',', $shadows)))

@keyframes whirl-palette
  for $per in (0..$no-of-dots)
    {($per * (100 / $no-of-dots)) * 1%}
      color $dot-colors[0]
      box-shadow genShadow($per)
      if $per == $no-of-dots
        transform rotate(360deg)

[data-whirl='palette']

  &:before
    $create-pseudo($size, $size)
    animation     whirl-palette 2s infinite linear
    border-radius 100%
