@import '../vars.styl'

/**
  * Radial
  *
  * @author jh3y - https://github.com/jh3y
*/

$height = 10px
$width  = 5px
$color-one = $whirl-primary
$color-two = $whirl-secondary
$duration = .75s

@keyframes whirl-radial
  0%
    transform rotate(0deg) translateY(150%)
  100%
    transform rotate(1440deg) translateY(150%)

@keyframes whirl-radial-2
  0%
    transform rotate(180deg) translateY(150%)
  100%
    transform rotate(1620deg) translateY(150%)

[data-whirl='radial']

  &:after
    $create-pseudo($height, $width)
    animation whirl-radial-2 $duration infinite linear
    background-color $color-two

  &:before
    $create-pseudo($height, $width)
    animation whirl-radial $duration infinite linear
    background-color $color-one
