@import '../vars.styl'
@import '../common/animation/rotate.styl'

/**
  * Rainbow
  *
  * @author jh3y - https://github.com/jh3y
*/

$violet        = #bf55ec
$indigo        = #663399
$blue          = #19b5fe
$green         = #2ecc71
$yellow        = #f9bf3b
$orange        = #f89406
$red           = #f22613
$cloud         = #ffffff
$color-set     = $red $orange $yellow $green $blue $indigo $violet
$band-size     = 4px

generateRainbow()
  $shadows = ()
  for $color in (0..(length($color-set) - 1))
    $props = 0 0 0 (($color + 1) * $band-size) $color-set[$color] inset
    push($shadows, join(' ', $props))
  (unquote(join(',', $shadows)))

$rainbow-size = 80px
$cloud-segment-size = 10px
// Cloud shadow Y positions
$y1 = 0
$y2 = -($cloud-segment-size * .2px)
$y3 = -($cloud-segment-size * .6px)
$y4 = -($cloud-segment-size * .8px)
// Cloud shadow X positions
$x0 = $rainbow-size / 2
$x1 = $x0 - ($cloud-segment-size / 2)
$x2 = $x1 - ($cloud-segment-size / 2)
$x3 = $x2 - ($cloud-segment-size / 2)
$x4 = $x3 - ($cloud-segment-size / 2)
$x5 = $x4 - ($cloud-segment-size / 2)

$size = 100px

[data-whirl='rainbow']
  border-radius 100%
  clip rect(0, $size, $size / 2, 0)
  height $size
  left 50%
  margin-left -($size / 2)
  margin-top -($size / 2)
  position absolute
  top 50%
  width $size

  &:after
    $create-pseudo($cloud-segment-size, $cloud-segment-size)
    border-radius 100%
    box-shadow -($x0) $y1 0 0 $cloud,
      -($x1) $y3 0 0 $cloud,
      -($x2) $y2 0 0 $cloud,
      -($x2) $y4 0 0 $cloud,
      -($x3) $y2 0 0 $cloud,
      -($x3) $y4 0 0 $cloud,
      -($x4) $y3 0 0 $cloud,
      -($x5) $y1 0 0 $cloud,
      $x0 $y1 0 0 $cloud,
      $x1 $y3 0 0 $cloud,
      $x2 $y2 0 0 $cloud,
      $x2 $y4 0 0 $cloud,
      $x3 $y2 0 0 $cloud,
      $x3 $y4 0 0 $cloud,
      $x4 $y3 0 0 $cloud,
      $x5 $y1 0 0 $cloud


  &:before
    $create-pseudo($rainbow-size, $rainbow-size)
    animation whirl-rotate 1.5s infinite
    border-radius 100%
    box-shadow generateRainbow()
    clip rect(0, $rainbow-size, $rainbow-size / 2, 0 )
    overflow hidden
