@import '../vars.styl'
/**
  * Rays
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 20px
$ray-size = $size * 3
$ray-thickness = 10px
$color = $whirl-primary

@keyframes whirl-rays
  from
    opacity 1
    transform scale(0)
  to
    opacity 0
    transform scale(1)

[data-whirl='rays']

  &:after
    $create-pseudo($ray-size, $ray-size)
    animation whirl-rays 1s infinite
    border $ray-thickness solid $color
    border-radius 100%

  &:before
    $create-pseudo($size, $size)
    background $color
    border-radius 100%
