@import '../common/animation/rotate.styl'

/**
  * Ringed
  *
  * @author jh3y - https://github.com/jh3y
*/

$band-size = 50px
$band-thickness = 6px
$band-color = $whirl-primary
$color = $whirl-secondary
$size = 16px
$pos = -(($band-size / 2) - ($band-thickness / 2))

[data-whirl='ringed']

  &:after
    $create-pseudo($size, $size)
    animation whirl-rotate 1s infinite
    border-radius 100%
    box-shadow 0 $pos 0 0 $color

  &:before
    $create-pseudo($band-size, $band-size)
    border $band-thickness solid $band-color
    border-radius 100%
