@keyframes whirl-rotary
  0%
    transform rotate(0deg) translateX(150%) scale(1)
  25%
    transform rotate(360 * .25deg) translateX(150%) scale(0)
  75%
    transform rotate(360 * .75deg) translateX(150%) scale(1.5)
  100%
    transform rotate(360deg) translateX(150%) scale(1)

[data-whirl='rotary']
  &:before
    $create-pseudo(25px, 25px)
    background-color blue
    border-radius 100%
    animation whirl-rotary 1s infinite linear
