@import '../vars.styl'
/**
  * Scan
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 50px
$border-width = 5px
$color = $whirl-primary

@keyframes whirl-scan
  0%
    background-position -($border-width) 0
  50%
    background-position ($size - ($border-width * 2)) 0
  100%
    background-position ($size - ($border-width * 2)) $size

[data-whirl='scan']

  &:before
    $create-pseudo($size, $size)
    animation whirl-scan 1s infinite
    background linear-gradient(90deg, $color 20%, transparent 20%, transparent),
      linear-gradient(0deg, $color 20%, transparent 20%, transparent)
    background-size $size $size
    border $border-width solid $color
    transform rotate(45deg)
