/**
  * Scan
  *
  * @author jh3y - https://github.com/jh3y
*/

$color = $whirl-primary
$size = 30px

@keyframes whirl-side-to-side
  0%
    background-color transparent
    transform translateX(-150%)
  50%
    background-color $color
  100%
    background-color transparent
    transform translateX(150%)

[data-whirl='side-to-side']

  &:before
    $create-pseudo($size, $size)
    animation whirl-side-to-side .5s infinite alternate ease-in-out
    border-radius 100%
