@keyframes whirl-rotate
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)

[data-whirl='split']
  &:before
    $create-pseudo(14px, 14px)
    border-radius 100%
    background white
  &:after
    $create-pseudo()
    border 10px solid white
    border-left-color transparent
    border-right-color transparent
    border-radius 100%
    animation whirl-rotate 2s infinite linear
