@import '../vars.styl'
@import '../common/animation/rotate.styl'

/**
  * Split
  *
  * @author jh3y - https://github.com/jh3y
*/

$core-size = 14px
$outer-size = 50px
$outer-width = 10px
$color = $whirl-primary

[data-whirl='split']

  &:after
    $create-pseudo($outer-size, $outer-size)
    animation whirl-rotate 1s infinite linear
    border $outer-width solid $color
    border-left-color transparent
    border-radius 100%
    border-right-color transparent

  &:before
    $create-pseudo($core-size, $core-size)
    background $color
    border-radius 100%
