@keyframes whirl-swap
  0%
    transform scale(0)
  50%
    transform scale(1)
  100%
    transform scale(0)

[data-whirl='swap']
  &:before
    $create-pseudo()
    background-color red
    border-radius 100%
    opacity .5
    animation whirl-swap 1.5s infinite
  &:after
    $create-pseudo()
    background-color blue
    border-radius 100%
    opacity .5
    animation whirl-swap 1.5s .75s infinite
