@keyframes whirl-throw
  0%
    transform scale(.75) translateX(-50px)
  25%
    transform scale(1.5) translateX(0px)
  50%
    transform scale(.75) translateX(50px)
  75%
    transform scale(1.5) translateX(0px)
  100%
    transform scale(.75) translateX(-50px)


[data-whirl='throw']
  &:before
    $create-pseudo(20px, 20px)
    border-radius 100%
    background-color purple
    animation whirl-throw 1s infinite alternate ease-in-out
