@import '../vars.styl'
@import '../common/animation/rotate.styl'

/**
  * Traditional
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 50px
$mask-size = 40px
$bg-color = $whirl-bg
$color = $whirl-primary

[data-whirl='traditional']

  &:after
    $create-pseudo($mask-size, $mask-size)
    background $bg-color
    border-radius 100%

  &:before
    $create-pseudo($size, $size)
    animation     whirl-rotate .5s infinite linear
    border-radius 100%
    box-shadow    ($size / 10) ($size / -2) $size 0 $color inset
