$whirl-off-white = rgba(255, 255, 255, .5)
$whirl-white     = white

@keyframes whirl-trigger
  0%
    box-shadow -30px 30px 0 0 $whirl-off-white,
        -15px 30px 0px 0 $whirl-off-white,
        0px 30px 0 0 $whirl-off-white,
        15px 30px 0 0 $whirl-off-white,
        30px 30px 0 0 $whirl-off-white
  30%
    box-shadow -30px 30px 0 5px $whirl-white,
        -15px 30px 0px 0 $whirl-off-white,
        0px 30px 0 0 $whirl-off-white,
        15px 30px 0 0 $whirl-off-white,
        30px 30px 0 0 $whirl-off-white
  40%
    box-shadow -30px 30px 0 0 $whirl-off-white,
        -15px 30px 0 5px $whirl-white,
        0px 30px 0 0 $whirl-off-white,
        15px 30px 0 0 $whirl-off-white,
        30px 30px 0 0 $whirl-off-white
  50%
    box-shadow -30px 30px 0 0 $whirl-off-white,
        -15px 30px 0 0 $whirl-off-white,
        0px 30px 0 5px $whirl-white,
        15px 30px 0 0 $whirl-off-white,
        30px 30px 0 0 $whirl-off-white
  60%
    box-shadow -30px 30px 0 0 $whirl-off-white,
        -15px 30px 0 0 $whirl-off-white,
        0px 30px 0 0 $whirl-off-white,
        15px 30px 0 5px $whirl-white,
        30px 30px 0 0 $whirl-off-white
  70%
    box-shadow -30px 30px 0 0 $whirl-off-white,
        -15px 30px 0 0 $whirl-off-white,
        0px 30px 0 0 $whirl-off-white,
        15px 30px 0 0 $whirl-off-white,
        30px 30px 0 5px $whirl-white
  80%
    40%
    box-shadow -30px 30px 0 0 $whirl-off-white,
        -15px 30px 0 0 $whirl-off-white,
        0px 30px 0 0 $whirl-off-white,
        15px 30px 0 0 $whirl-off-white,
        30px 30px 0 0 $whirl-off-white

[data-whirl='trigger']
  &:before
    height  20px
    width   10px
    margin-top -37.5px
    margin-left -5px
    background-color transparent
    transition box-shadow .25s ease 0s
    box-shadow -30px 30px 0 0 $whirl-off-white,
      -15px 30px 0 0 $whirl-off-white,
      0px 30px 0 0 $whirl-off-white,
      15px 30px 0 0 $whirl-off-white,
      30px 30px 0 0 $whirl-off-white

    content ''
    display block
    position absolute
    top 50%
    left 50%
    animation whirl-trigger 1s infinite ease
