/**
  * Whirl
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 30px
$color = $whirl-primary

@keyframes whirl
  0%
    transform scale(0) rotate(-45deg) translateY(0)
  50%
    transform scale(1.25) rotate(960deg) translateY(100%)
  100%
    transform scale(0) rotate(2000deg) translateY(0)

[data-whirl='whirl']

  &:before
    $create-pseudo($size, $size)
    animation whirl 2s infinite linear
    background-color $color
    border-radius 100%
