@import '../vars.styl'

/**
  * Wind up
  *
  * @author jh3y - https://github.com/jh3y
*/

$size = 50px
$border = 6px
$color = $whirl-primary

@keyframes whirl-wind-up
  0%
    transform rotate(0deg)
  10%
  15%
    transform rotate(-90deg)
  20%
  25%
    transform rotate(-180deg)
  30%
  35%
    transform rotate(-270deg)
  40%
  50%
    transform rotate(-360deg)
  100%
    transform rotate(720deg)

[data-whirl='wind-up']
  &:before
    $create-pseudo($size, $size)
    animation whirl-wind-up 3s infinite
    border $border solid $color
