/**
  * NOTE: Font imports etc. always need to go before included CSS in order
  * to work
*/
@import url('https://fonts.googleapis.com/css?family=Lato');
@import '../../node_modules/normalize.css/normalize.css'
@import '../whirl/vars.styl'
/**
  * Simple styles to aid with development
*/
*
  box-sizing border-box

body
  background $whirl-bg
  text-align center

h1
  font-family 'Lato', sans-serif
  text-align center
  color $whirl-primary
  font-size 70px
  margin 0

h2
  font-size 20px
  color $whirl-primary
  text-align center
  margin 10px auto

p
  color $whirl-primary

button
  display block
  margin 5px auto
  border 2px solid $whirl-secondary
  background $whirl-primary
  padding 10px 16px
  border-radius 6px
  cursor pointer

  &:hover
    background lighten($whirl-secondary, 50%)

  &:active
    color $whirl-primary
    background $whirl-secondary




.whirl-container
  border-radius 10px
  height  250px
  margin  0 auto
  overflow hidden
  position relative
  width   250px

  @media(max-width: 600px)
    width 100%


.whirl-selector
  appearance none
  padding 15px
  border 2px solid $whirl-secondary
  border-radius 6px

  &__container
    display inline-block
    position relative
    &:before
      height 0
      width 0
      border 8px solid transparent
      border-top-color $whirl-secondary
      content ''
      position absolute
      z-index 2
      right 8px
      top 50%
      margin-top -4px
