/**
  * NOTE: Font imports etc. always need to go before included CSS in order
  * to work
*/
// @import url('https://fonts.googleapis.com/css?family=Lato');
@import '../../node_modules/normalize.css/normalize.css'
@import '../whirl/vars.styl'
/**
  * Simple styles to aid with development
*/
*
  box-sizing border-box

body
  background $whirl-bg

h1
  font-family 'Lato', sans-serif
  text-align center

.whirls
  display        flex
  flex-direction row
  flex-wrap      wrap
  justify-content center

.whirl-container
  border  1px solid rgba(0, 0, 0, .5)
  border-radius 10px
  display flex
  height  200px
  margin  10px
  overflow hidden
  position relative
  width   20%

  @media(max-width: 600px)
    width 100%
