section#about
  .container
    .row
      .col-md-10.col-md-offset-1
        h3.text-center.
          Hi there!
        img.img-responsive.img-circle(src = "img/me_at_the_zoo.jpg")
        p.columned.text-justify.
          My name is Jhey Tompkins and I am a front end developer residing in the UK.
          I have a huge passion for all things front end and web. I love learning, problem solving and big challenges.
          I have worked with some great names such as Barclaycard, Bank of America Merrill Lynch and iDirect.
          I am an open source advocate with many repositories on github. I am also the creator of tyto and progre(c)ss.
          I graduated from UCL with a MSc in Financial Systems Engineering and from KCL with a BSc in Computer Science.
          Outside of development, I have many interests. I like to play sport, see friends and hit the gym. I also want to learn latin.
    .row
      .col-md-10.col-md-offset-1
        .quote-holder.center-text
          i.fa.fa-quote-left.quote-left
          h5#personal-quote.text-center.
            the <span class="text-highlight secondary">web</span> is my <span class="text-highlight tertiary">playground</span>.
          i.fa.fa-quote-right.quote-right
          .toggle.text-center
            i#toggler.fa.fa-bolt.toggler
          script.
            var index = 0,
              personalQuote = document.getElementById('personal-quote'),
              quotes = [
                'the <span class="text-highlight secondary">web</span> is my <span class="text-highlight tertiary">playground</span>.',
                'I like <span class="text-highlight">wolverines</span>.',
                'I am all about things <span class="text-highlight">HTML</span>, <span class="secondary text-highlight">CSS</span> and <span class="tertiary text-highlight">Javascript</span>.',
                'I <span class="text-highlight quaternary"><3</span> solving problems',
                'I like <span class="text-highlight">cycling</span>, in particular doing tricks on my <span class="secondary text-highlight">BMX</span>.',
                'I created <span class="text-highlight">progre(c)ss</span>.',
                'I <span class="text-highlight quaternary"><3</span> mexican food!',
                'I created <span class="text-highlight">tyto</span>.',
                'Follow me on github <a href="https://github.com/jh3y" target="_blank"><i class="fa fa-2x fa-github"></i></a>.'
              ]
            document.getElementById('toggler').addEventListener('click', function (event) {
              index ++;
              if (index + 1 > quotes.length)
                index = 0;
              personalQuote.innerHTML = quotes[index];
            });
    .row
      .col-md-10.col-md-offset-1
        p.text-justify.columned.
          I love mexican food and I like to eat chicken. I am not a huge fan of hot drinks. But I will not turn down a Starbucks or Costa. I love the wolverine, an animal that many people are unaware of. I also take care of a Venus Fly Trap named Nigel.
          Please do not hesitate to contact me if you have a project you would like to talk about. Or maybe you would like to discuss an opportunity, or just want to chat about something.
