section#contact.invert
  .container
    .row
      .col-md-10.col-md-offset-1
        h3.text-center.
          Get in touch
        img.img-responsive.img-circle(src = "img/me_wallride.jpg")
    .row
      .col-md-10.col-md-offset-1.text-center
        .row.contact-item
          .col-md-6.
            me
          .col-md-6.
            Jhey Tompkins
        .row.contact-item
          .col-md-6.
            email
          .col-md-6
            a(href = "mailto:jh3y@live.co.uk?subject=Hey!").
              jh3y at live.co.uk
        .row.contact-item
          .col-md-6.
            skype
          .col-md-6
            a(href = "skype:jheytompkins?add").
              jheytompkins
        .row.contact-item
          .col-md-6.
            twitter
          .col-md-6
            a(href = "https://twitter.com/_jh3y", target="_blank").
              _jh3y
        .row.contact-item
          .col-md-6.
            google+
          .col-md-6
            a(href = "https://plus.google.com/117254872800566192455?rel=author", target = "_blank").
              click here
        .row.contact-item
          .col-md-6.
            github
          .col-md-6
            |follow me at
            a(href = "https://github.com/jh3y", target = "_blank").
              github.com/jh3y
        .row.contact-item
          .col-md-6.
            resumé
          .col-md-6.
            available on request
        .row.contact-item
          .col-md-6.
            career timeline
          .col-md-6.
            in development
        .row.contact-item
          .col-md-6.
            open source report card
          .col-md-6
            a(href = "http://osrc.dfm.io/jh3y", target = "_blank")
              |here
        .row.contact-item
          .col-md-6.
            github resumé
          .col-md-6
            a(href = "http://resume.github.io/?jh3y", target = "_blank")
              |resume.github.io jh3y
