section#projects
  .container
    .row
      .col-md-10.col-md-offset-1
        h3.text-center.
          Projects
    .row
      .col-md-10.col-md-offset-1
        .projects-container.text-center
          .project
            i.fa.fa-star.project-star
            a.link-btn.project-link(href = "http://jh3y.github.io/tyto", target = "_blank").
              tyto
            i.fa.fa-star.project-star
            p.
              manage and organise things
          .project
            i.fa.fa-star.project-star
            a.link-btn.project-link(href = "http://jh3y.github.io/-cs-spinner", target = "_blank").
              (cs)spinner
            i.fa.fa-star.project-star
            p.
              pure CSS loading animation with minimal effort!
          .project
            i.fa.fa-star.project-star
            a.link-btn.project-link(href = "http://jh3y.github.io/progre-c-ss", target = "_blank").
              progre(c)ss
            i.fa.fa-star.project-star
            p.
              pure CSS progress bars with minimal effort!
          .project
            a.link-btn.project-link(href = "http://jh3y.github.io/doormat", target = "_blank").
              doormat
            p.
              alternative site navigation
          .project
            a.link-btn.project-link(href = "https://github.com/jh3y/single-page-app-boilerplate", target = "_blank").
              single page app boilerplate
            p.
              get up and running with a backbone SPA in minutes
          a.more-projects.link-btn(href = "https://github.com/jh3y", target = "_blank")
            |see more projects
