section#thoughts.invert
  .container
    .row
      .col-md-10.col-md-offset-1
        h3.text-center.
          Recent Thoughts
    .row
      .col-md-10.col-md-offset-1
        .recent-thoughts-container.text-center
          script(async, src="https://static.medium.com/embed.js")
          a.m-profile(href="https://medium.com/@_jh3y", data-width = "100%").
            Jhey Tompkins
        .more-thoughts.text-center
          a.link-btn(href = "https://medium.com/@_jh3y", target = "_blank")
            |see more
