extends layout-blocks/layout
block content
  .container
    .row
      .col-md-10.col-md-offset-1.text-center
        select.text-center
          option(value = "csspinner").
            standard
          option(value = "csspinner traditional").
            traditional
          option(value = "csspinner double-up").
            double-up
          option(value = "csspinner duo").
            duo
          option(value = "csspinner sphere").
            sphere
          option(value = "csspinner sphere vertical").
            sphere-vertical
          option(value = "csspinner bar").
            bar
          option(value = "csspinner bar follow").
            bar follow
          option(value = "csspinner line").
            line
          option(value = "csspinner line grow").
            line grow
          option(value = "csspinner line back-and-forth").
            line back and forth
          option(value = "csspinner line back-and-forth grow").
            line back and forth grow
          option(value = "csspinner shadow").
            shadow
          option(value = "csspinner shadow oval").
            shadow oval left
          option(value = "csspinner shadow oval right").
            shadow oval right
          option(value = "csspinner blade").
            blade
          option(value = "csspinner ringed").
            ringed
          option(value = "csspinner helicopter").
            helicopter
          option(value = "csspinner no-overlay").
            no overlay
    .row-btn-holder
      .col-md-10.col-md-offset-1.text-center
        button.btn.btn-info.
          Show me
        script.
          $('button').on('click', function (event) {
            $('#demo')[0].className = $('select').val();
            $('code').text($('select').val());
          });
          $('select').on('change', function (event) {
            $('#demo')[0].className = $('select').val();
            $('code').text($('select').val());
          })
    .row
      .col-md-6.col-md-offset-3
        .csspinner(id = "demo").
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis tortor vitae urna varius, vitae adipiscing turpis pulvinar. Mauris ornare nibh vel tristique elementum. Ut porta rutrum consectetur.
    .row
      .col-md-10.col-md-offset-1.text-center
        h5.
          classes required:
        code.text-center.
          csspinner
    .row
      .col-md-10.col-md-offset-1.text-center
        ul.text-center
          li.
            include the <a href="https://github.com/jh3y/-cs-spinner">stylesheet</a> (<a href="https://github.com/jh3y/-cs-spinner/blob/master/README.md" target="_blank">tweaking</a> where necessary, now uses <strong>gulp.js</strong> enabling custom builds!).
          li.
            add and remove appropriate classes to your elements when necessary to show loading (using js).
        h3.text-center.
          That's it!

  //- include layout-blocks/sections/about
  //- include layout-blocks/sections/thoughts
  //- include layout-blocks/sections/projects
  //- include layout-blocks/sections/contact
