$create-pseudo($height = 50px, $width = 50px, $content = '', $zIndex = 1)
  box-sizing  border-box
  content     $content
  height      $height
  left        50%
  margin-left ($width / -2)
  margin-top  ($height / -2)
  position    absolute
  top         50%
  width       $width
  z-index     $zIndex
