$create-pseudo($height=50px, $width=50px, $content='', $zIndex=1)
  content     $content
  box-sizing  border-box
  z-index     $zIndex
  height      $height
  width       $width
  margin-top  ($height / -2)
  margin-left ($width / -2)
  position    absolute
  top         50%
  left        50%
