/*!!
  * whirl - pure CSS loading animations with minimal effort
  *
  * https://jh3y.github.io/whirl
  * @license MIT
  * @author jh3y
  * @version 2.0.0
  * (c) 2016
*/
@import 'utils.styl'
@import 'vars.styl'

$config = json('../../whirl.config.json', {
  hash: true,
  leave-strings: true
})

// Nothing happens in whirl root, we just import the things we need
// and dynamically pull in the whirls we are compiling
for $whirl, $value in $config.whirls
  $path = 'whirls/' + $whirl + '.styl'
  @import $path
